doctype html
head
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css' integrity='sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2' crossorigin='anonymous')
  link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet')
  style.
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    body {
    font-family: 'Roboto', sans-serif;
    }
    * {
    margin: 0;
    padding: 0;
    }
    i {
    margin-right: 10px;
    }
    /*----------multi-level-accordian-menu------------*/
    .navbar-logo {
    padding: 15px;
    color: #fff;
    }
    .navbar-mainbg {
    background-color: #b9a754;
    padding: 0px;
    }
    #navbarSupportedContent {
    overflow: hidden;
    position: relative;
    }
    #navbarSupportedContent ul {
    padding: 0px;
    margin: 0px;
    }
    #navbarSupportedContent ul li a i {
    margin-right: 10px;
    }
    #navbarSupportedContent li {
    list-style-type: none;
    float: left;
    }
    #navbarSupportedContent ul li a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
    }
    #navbarSupportedContent>ul>li.active>a {
    color: #b9a754;
    background-color: transparent;
    transition: all 0.7s;
    }
    #navbarSupportedContent a:not(:only-child):after {
    content: "\f105";
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 14px;
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    padding-right: 3px;
    vertical-align: middle;
    font-weight: 900;
    transition: 0.5s;
    }
    #navbarSupportedContent .active>a:not(:only-child):after {
    transform: rotate(90deg);
    }
    .hori-selector {
    display: inline-block;
    position: absolute;
    height: 100%;
    top: 0px;
    left: 0px;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #fff;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 10px;
    }
    .hori-selector .right,
    .hori-selector .left {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    bottom: 10px;
    }
    .hori-selector .right {
    right: -25px;
    }
    .hori-selector .left {
    left: -25px;
    }
    .hori-selector .right:before,
    .hori-selector .left:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #b9a754;
    }
    .hori-selector .right:before {
    bottom: 0;
    right: -25px;
    }
    .hori-selector .left:before {
    bottom: 0;
    left: -25px;
    }
    @media (max-width: 991px) {
    #navbarSupportedContent ul li a {
    padding: 12px 30px;
    }
    .hori-selector {
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    }
    .hori-selector .left,
    .hori-selector .right {
    right: 10px;
    }
    .hori-selector .left {
    top: -25px;
    left: auto;
    }
    .hori-selector .right {
    bottom: -25px;
    }
    .hori-selector .left:before {
    left: -25px;
    top: -25px;
    }
    .hori-selector .right:before {
    bottom: -25px;
    left: -25px;
    }
    }
  style(type='text/css').
    p {
    margin: 0;
    padding: 0;
    }
    .ft10 {
    font-size: 14px;
    font-family: Times;
    color: #000000;
    }
    .ft11 {
    font-size: 42px;
    font-family: Times;
    color: #050a33;
    }
    .ft12 {
    font-size: 15px;
    font-family: Times;
    color: #050a33;
    }
    .ft13 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft14 {
    font-size: 15px;
    font-family: Times;
    color: #4b5062;
    }
    .ft15 {
    font-size: 12px;
    font-family: Times;
    color: #828282;
    }
    .ft16 {
    font-size: 14px;
    line-height: 20px;
    font-family: Times;
    color: #4b5062;
    }
  style(type='text/css').
    p {
    margin: 0;
    padding: 0;
    }
    .ft20 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft21 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft22 {
    font-size: 18px;
    font-family: Times;
    color: #4b5062;
    }
    .ft23 {
    font-size: 12px;
    font-family: Times;
    color: #828282;
    }
    .ft24 {
    font-size: 14px;
    line-height: 20px;
    font-family: Times;
    color: #4b5062;
    }
    .ft25 {
    font-size: 14px;
    line-height: 20px;
    font-family: Times;
    color: #4b5062;
    }
  style(type='text/css').
    p {
    margin: 0;
    padding: 0;
    }
    .ft30 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft31 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft32 {
    font-size: 12px;
    font-family: Times;
    color: #828282;
    }
    .ft33 {
    font-size: 14px;
    line-height: 20px;
    font-family: Times;
    color: #4b5062;
    }
  style(type='text/css').
    p {
    margin: 0;
    padding: 0;
    }
    .ft40 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft41 {
    font-size: 14px;
    font-family: Times;
    color: #4b5062;
    }
    .ft42 {
    font-size: 12px;
    font-family: Times;
    color: #828282;
    }
    .ft43 {
    font-size: 11px;
    font-family: Times;
    color: #000000;
    }
    .ft44 {
    font-size: 14px;
    line-height: 20px;
    font-family: Times;
    color: #4b5062;
    }
  style.
    /* Reset */
    @import url(//codepen.io/chrisdothtml/pen/ojLzJK.css);
    /* Main Styles */
    .button {
    display: block;
    background-color: #c0392b;
    width: 300px;
    height: 100px;
    line-height: 100px;
    margin: auto;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    }
    .button span,
    .button .icon {
    display: block;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    }
    .button span {
    width: 72%;
    line-height: inherit;
    font-size: 22px;
    text-transform: uppercase;
    left: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    }
    .button span:after {
    content: '';
    background-color: #a53125;
    width: 2px;
    height: 70%;
    position: absolute;
    top: 15%;
    right: -1px;
    }
    .button .icon {
    width: 28%;
    right: 0;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
    }
    .button .icon .fa {
    font-size: 30px;
    vertical-align: middle;
    -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
    }
    .button .icon .fa-remove {
    height: 36px;
    }
    .button .icon .fa-check {
    display: none;
    }
    .button.success span,
    .button:hover span {
    left: -72%;
    opacity: 0;
    }
    .button.success .icon,
    .button:hover .icon {
    width: 100%;
    }
    .button.success .icon .fa,
    .button:hover .icon .fa {
    font-size: 45px;
    }
    .button.success {
    background-color: #27ae60;
    }
    .button.success .icon .fa-remove {
    display: none;
    }
    .button.success .icon .fa-check {
    display: inline-block;
    }
    .button:hover {
    opacity: .9;
    }
    .button:hover .icon .fa-remove {
    height: 46px;
    }
    .button:active {
    opacity: 1;
    }
  style.
   html,
   body {
   height: 100%;
   }
   .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
      }
   .buttn {
     min-width: 300px;
     min-height: 60px;
     font-family: 'Nunito', sans-serif;
     font-size: 22px;
     text-transform: uppercase;
     letter-spacing: 1.3px;
     font-weight: 700;
     color: #313133;
     background: #4FD1C5;
     background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
     border: none;
     border-radius: 1000px;
     box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
     transition: all 0.3s ease-in-out 0s;
     cursor: pointer;
     outline: none;
     position: relative;
     padding: 10px;
       }
   button::before {
      content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #00FFCB;
      box-shadow: 0 0 60px rgba(0, 255, 203, .64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
          }
   .buttn:hover,
   .buttn:focus {
     color: #313133;
     transform: translateY(-6px);
     }
    button:hover::before,
    button:focus::before {
      opacity: 1;
       }
   button::after {
     content: '';
     width: 30px;
     height: 30px;
     border-radius: 100%;
     border: 6px solid #00FFCB;
     position: absolute;
     z-index: -1;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: ring 1.5s infinite;
      }
   button:hover::after,
   button:focus::after {
     animation: none;
     display: none;
     }
   @keyframes ring {
   0% {
     width: 30px;
     height: 30px;
     opacity: 1;
     }
   100% {
     width: 300px;
     height: 300px;
     opacity: 0;
    }
    }
nav.navbar.navbar-expand-lg.navbar-mainbg
  a.navbar-brand.navbar-logo(href='#') BlockCenter
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    i.fas.fa-bars.text-white
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      .hori-selector
        .left
        .right
      li.nav-item
        a.nav-link(href='home')
          i.fas.fa-tachometer-alt
            svg.bi.bi-file-person(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M12 1H4a1 1 0 0 0-1 1v10.755S4 11 8 11s5 1.755 5 1.755V2a1 1 0 0 0-1-1zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z')
              path(fill-rule='evenodd' d='M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z')
          | Identification
      li.nav-item
        a.nav-link(href='id')
          i.far.fa-address-book
            svg.bi.bi-cash(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z')
              path(d='M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z')
          | Money
      li.nav-item
        a.nav-link(href='estate')
          i.far.fa-clone
            svg.bi.bi-house-fill(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z')
              path(fill-rule='evenodd' d='M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z')
          | Real Estates
      li.nav-item.active
        a.nav-link(href='government')
          i.far.fa-calendar-alt
            svg.bi.bi-file-text(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z')
              path(fill-rule='evenodd' d='M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z')
          | Contracts
      li.nav-item
        a.nav-link(href='contract')
          i.far.fa-calendar-alt
            svg.bi.bi-file-text(width='1em' height='1em' viewbox='0 0 16 16' fill='currentColor' xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd' d='M4 0h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H4z')
              path(fill-rule='evenodd' d='M4.5 10.5A.5.5 0 0 1 5 10h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm0-2A.5.5 0 0 1 5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z')
          | Governmental services      
      li.nav-item
        a.nav-link(href='car')
          i.fa.fa-car
          | My Car

mixin content(releaseDate,endDate,companyname,companyaddress,employername,employeraddress,employerposition,employercountry,workdays,monthsalary,pentalyclause)
 #page1-div(style='position:relative;left: 15%; width:892px;height:1262px;')
  img(src='https://bl3302files.storage.live.com/y4mBIt1X2b1eZPzo-eth_T0f2gVMItFudj1siLMvdJLICQ1ieXH87bCi1ToEOYUxkpcaG6cktKprHcc0rR07ny07xFW439BOZnDIiwXl8fwloOZTRr5kDcbjW2NzUKrxpFBfUo_IOXKqgEZnYCgtktxmWqlvKldb6ZgnpEvp7N2JI3NbgoNQTjMt6g_0wb42vTN?width=892&height=1263&cropmode=none' width='892' height='1263')
  p.ft10(style='position:absolute;top:15px;left:793px;white-space:nowrap')=releaseDate
  p.ft11(style='position:absolute;top:16px;left:111px;white-space:nowrap')
    b Employment&nbsp;Contract&nbsp;
  p.ft12(style='position:absolute;top:192px;left:155px;white-space:nowrap')
    b Name&nbsp;of&nbsp;Company
  p.ft16(style='position:absolute;top:219px;left:155px;white-space:nowrap')=companyname
    | 
    br
    | 
  p.ft12(style='position:absolute;top:192px;left:526px;white-space:nowrap')
    b Company&apos;s&nbsp;Address
  p.ft16(style='position:absolute;top:219px;left:526px;white-space:nowrap')=companyaddress
    | 
    br
    | 
    br
    | 
  p.ft12(style='position:absolute;top:347px;left:155px;white-space:nowrap')
    b Name&nbsp;of&nbsp;Employee
  p.ft16(style='position:absolute;top:374px;left:155px;white-space:nowrap')=employername
    | 
    br
    |
    br
    | 
    br
    | 
    br
    | 
  p.ft12(style='position:absolute;top:347px;left:526px;white-space:nowrap')
    b Employee&apos;s&nbsp;Address
  p.ft16(style='position:absolute;top:374px;left:526px;white-space:nowrap')=employeraddress
    | 
    br
    | 
    br
    | 
  p.ft12(style='position:absolute;top:516px;left:155px;white-space:nowrap')
    b Employee&apos;s&nbsp;Position
  p.ft16(style='position:absolute;top:543px;left:155px;white-space:nowrap')=employerposition
    | 
    br
    | 
  p.ft12(style='position:absolute;top:516px;left:526px;white-space:nowrap')
    b Country&nbsp;of&nbsp;Employment
  p.ft16(style='position:absolute;top:543px;left:526px;white-space:nowrap')=employercountry
    | 
    br
    | 
  p.ft12(style='position:absolute;top:627px;left:155px;white-space:nowrap')
    b Contractual&nbsp;Work&nbsp;Hours
  p.ft14(style='position:absolute;top:663px;left:167px;white-space:nowrap')=workdays
  p.ft12(style='position:absolute;top:627px;left:526px;white-space:nowrap')
    b Contractual&nbsp;Work&nbsp;Days
  p.ft13(style='position:absolute;top:663px;left:537px;white-space:nowrap')=workdays
  p.ft12(style='position:absolute;top:756px;left:155px;white-space:nowrap')
    b Minimum&nbsp;Number&nbsp;of&nbsp;Years
  p.ft13(style='position:absolute;top:792px;left:167px;white-space:nowrap')=endDate
  p.ft12(style='position:absolute;top:756px;left:526px;white-space:nowrap')
    b Contractual&nbsp;Monthly&nbsp;Salary
  p.ft16(style='position:absolute;top:783px;left:526px;white-space:nowrap')=monthsalary
    | 
    br
    | 
  p.ft12(style='position:absolute;top:882px;left:155px;white-space:nowrap')
    b Date&nbsp;of&nbsp;Resumption
  p.ft13(style='position:absolute;top:909px;left:155px;white-space:nowrap')=endDate
  p.ft15(style='position:absolute;top:1220px;left:1px;white-space:nowrap')
    a(href='https://www.jotform.com/products/pdf-editor/?utm_source=pdf_file&utm_medium=referral&utm_term=203234134972047&utm_content=jotform_text&utm_campaign=pdf_file_branding_footer') Create&nbsp;your&nbsp;own&nbsp;automated&nbsp;PDFs&nbsp;with&nbsp;JotForm&nbsp;PDF&nbsp;Editor
 #page2-div(style='position:relative;left: 15%;width:892px;height:1262px;')
  img(src='https://bl3302files.storage.live.com/y4mTkBBjMTs3pgpWbm6j6OfftSmlQyltr7F2kfYOm6AOW_onboJ3ZxchCgKDVX0SzEEOhtaYubyYqGVVowUfGpAuv2zvozw4IprbXT2bo_kfLWGIqHCL2NsYuvtsqeuL8yiL5Ii9-TP3eX9nA6gRWhYdGwEaGg4x2tDQ8jvjBENxjUWP-tXDr8yJIlZaS-dszcz?width=892&height=1263&cropmode=none' width='892' height='1263')
  p.ft24(style='position:absolute;top:112px;left:81px;white-space:nowrap')
    | Dear&nbsp;
    b
      | Idelle&nbsp;Mauris&nbsp;enim&nbsp;leo,&nbsp;rhoncus&nbsp;sed,&nbsp;vestibulum&nbsp;sit&nbsp;amet,&nbsp;cursus&nbsp;id,&nbsp;turpis.&nbsp;Integer&nbsp;aliquet,&nbsp;massa&nbsp;id&nbsp;
      br
      | lobortis&nbsp;convallis,&nbsp;tortor&nbsp;risus&nbsp;dapibus&nbsp;augue,&nbsp;vel&nbsp;accumsan&nbsp;tellus&nbsp;nisi&nbsp;eu&nbsp;orci.&nbsp;Mauris&nbsp;lacinia&nbsp;sapien&nbsp;quis&nbsp;
      br
      | libero.&nbsp;Lydiate
    | ,
  p.ft22(style='position:absolute;top:202px;left:100px;white-space:nowrap')
    b Employment&nbsp;Contract&nbsp;for&nbsp;Ut&nbsp;tellus.&nbsp;Nulla&nbsp;ut&nbsp;erat&nbsp;id&nbsp;mauris&nbsp;vulputate&nbsp;elementum.
  p.ft25(style='position:absolute;top:257px;left:81px;white-space:nowrap')
    | Sequel&nbsp;to&nbsp;your&nbsp;successful&nbsp;interview&nbsp;with&nbsp;us,&nbsp;we&nbsp;are&nbsp;pleased&nbsp;to&nbsp;offer&nbsp;you&nbsp;the&nbsp;job&nbsp;of&nbsp;
    b
      | Ut&nbsp;tellus.&nbsp;Nulla&nbsp;ut&nbsp;erat&nbsp;id&nbsp;
      br
      | mauris&nbsp;vulputate&nbsp;elementum.
    | &nbsp;with&nbsp;
    b Ut&nbsp;tellus.&nbsp;Nulla&nbsp;ut&nbsp;erat&nbsp;id&nbsp;mauris&nbsp;vulputate&nbsp;elementum.
    | &nbsp;with&nbsp;effect&nbsp;from&nbsp;
    br
    b Wednesday,&nbsp;August&nbsp;12,&nbsp;1998
    | &nbsp;under&nbsp;the&nbsp;following&nbsp;terms&nbsp;and&nbsp;conditions.
  p.ft21(style='position:absolute;top:334px;left:126px;white-space:nowrap')
    b DURATION
  p.ft25(style='position:absolute;top:374px;left:81px;white-space:nowrap')
    | That&nbsp;&nbsp;the&nbsp;&nbsp;Employment&nbsp;&nbsp;period&nbsp;&nbsp;shall&nbsp;&nbsp;be&nbsp;&nbsp;for&nbsp;&nbsp;a&nbsp;&nbsp;minimum&nbsp;&nbsp;of&nbsp;&nbsp;
    b Option&nbsp;&nbsp;3
    | &nbsp;&nbsp;after&nbsp;&nbsp;which&nbsp;&nbsp;this&nbsp;&nbsp;contract&nbsp;&nbsp;is&nbsp;&nbsp;subject&nbsp;&nbsp;to&nbsp;
    br
    | renewal&nbsp;or&nbsp;as&nbsp;the&nbsp;Company&nbsp;may&nbsp;otherwise&nbsp;determine.
  p.ft20(style='position:absolute;top:463px;left:126px;white-space:nowrap')
    b TERMINATION&nbsp;OF&nbsp;CONTRACT
  p.ft25(style='position:absolute;top:503px;left:81px;white-space:nowrap')
    | That&nbsp;after&nbsp;this&nbsp;mandatory&nbsp;period&nbsp;of&nbsp;
    b Option&nbsp;3
    | ,&nbsp;either&nbsp;party&nbsp;can&nbsp;terminate&nbsp;with&nbsp;immediate&nbsp;effect.&nbsp;Where&nbsp;your&nbsp;
    br
    | employment&nbsp;is&nbsp;terminated&nbsp;with&nbsp;immediate&nbsp;effect,&nbsp;you&nbsp;will&nbsp;be&nbsp;paid&nbsp;for&nbsp;days&nbsp;worked&nbsp;prior&nbsp;to&nbsp;termination.&nbsp;At&nbsp;
    br
    | whatever&nbsp;&nbsp;period,&nbsp;&nbsp;your&nbsp;&nbsp;contract&nbsp;&nbsp;could&nbsp;&nbsp;be&nbsp;&nbsp;terminated&nbsp;&nbsp;for&nbsp;&nbsp;any&nbsp;&nbsp;bad&nbsp;&nbsp;conduct&nbsp;&nbsp;or&nbsp;&nbsp;performance&nbsp;&nbsp;with&nbsp;&nbsp;bene&nbsp;ts&nbsp;&nbsp;or&nbsp;
    br
    | payment.
  p.ft21(style='position:absolute;top:633px;left:126px;white-space:nowrap')
    b REMUNERATION
  p.ft25(style='position:absolute;top:694px;left:81px;white-space:nowrap')
    | The&nbsp;sum&nbsp;of&nbsp;
    b Ut&nbsp;tellus.&nbsp;Nulla&nbsp;ut&nbsp;erat&nbsp;id&nbsp;mauris&nbsp;vulputate&nbsp;elementum.
    | &nbsp;only&nbsp;shall&nbsp;be&nbsp;paid&nbsp;to&nbsp;you&nbsp;monthly&nbsp;for&nbsp;the&nbsp;
    br
    | duration&nbsp;of&nbsp;your&nbsp;employment.
  p.ft21(style='position:absolute;top:782px;left:126px;white-space:nowrap')
    b PLACE&nbsp;OF&nbsp;WORK
  
 #page3-div(style='position:relative;left: 15%;width:892px;height:1262px;')
  img(src='https://bl3302files.storage.live.com/y4mad58BRb55bmdu3wHqRrl3sKroUx01YMb19ImxyQoPpBXobjuHGcajzBL7ucnqwYJvvKpzriAS6AlknbgCssHS0kvPI9gOknhCOCqk1OG-kwk4TfYPdNpBibzI-G5SdQ4x2T6Uuxq2zzJjRBeRI4Z42anIn5xWryg8QKQpIl_6jbYZXNQmVBnlGc0VdnV4y7F?width=892&height=1263&cropmode=none' width='892' height='1263')
  p.ft30(style='position:absolute;top:2px;left:126px;white-space:nowrap')
    b INDUCTION&nbsp;AND&nbsp;TRAINING
  p.ft33(style='position:absolute;top:42px;left:81px;white-space:nowrap')
    | On&nbsp;&nbsp;assumption&nbsp;&nbsp;of&nbsp;&nbsp;duty,&nbsp;&nbsp;you&nbsp;&nbsp;will&nbsp;&nbsp;undergo&nbsp;&nbsp;an&nbsp;&nbsp;Induction&nbsp;&nbsp;programme&nbsp;&nbsp;to&nbsp;&nbsp;familiarize&nbsp;&nbsp;you&nbsp;&nbsp;with&nbsp;&nbsp;the&nbsp;&nbsp;activities&nbsp;
    br
    | within&nbsp;&nbsp;the&nbsp;&nbsp;Company&apos;s&nbsp;&nbsp;organizational&nbsp;&nbsp;structure.&nbsp;&nbsp;You&nbsp;&nbsp;may&nbsp;&nbsp;also&nbsp;&nbsp;be&nbsp;&nbsp;required&nbsp;&nbsp;to&nbsp;&nbsp;undergo&nbsp;&nbsp;specially-designed&nbsp;
    br
    | programmes&nbsp;to&nbsp;prepare&nbsp;you&nbsp;for&nbsp;your&nbsp;assignments.
  p.ft32(style='position:absolute;top:1220px;left:1px;white-space:nowrap')
    a(href='https://www.jotform.com/products/pdf-editor/?utm_source=pdf_file&utm_medium=referral&utm_term=203234134972047&utm_content=jotform_text&utm_campaign=pdf_file_branding_footer') Create&nbsp;your&nbsp;own&nbsp;automated&nbsp;PDFs&nbsp;with&nbsp;JotForm&nbsp;PDF&nbsp;Editor
 #page4-div(style='position:relative;left: 15%;width:892px;height:1262px;')
  img(src='https://bl3302files.storage.live.com/y4mSrynuGBvXZIYOi8ibOytijEOpVJZqEKmLOxvbMN8_FbghpEH7lFuJn8F_JEwXHC78FBrXZusMBWNouoJ30cs3wQFIJKsuOiP8ja1AKi_s2wZQlhHh7oE5e0M7mAJSdGIVjXefT0Lu7PUlwC9AiRJX_wNY-wf59jGwJRVkyroBBwGtnLRXBF_c71ayBVAG1TA?width=892&height=1263&cropmode=none' width='892' height='1263')
  p.ft40(style='position:absolute;top:103px;left:126px;white-space:nowrap')
    b ACCOMMODATION
  p.ft44(style='position:absolute;top:144px;left:81px;white-space:nowrap')
    | The&nbsp;Company,&nbsp;as&nbsp;a&nbsp;rule,&nbsp;does&nbsp;not&nbsp;provide&nbsp;accommodation&nbsp;for&nbsp;its&nbsp;employees.&nbsp;However,&nbsp;staff&nbsp;on&nbsp;essential&nbsp;
    br
    | duties&nbsp;may&nbsp;be&nbsp;provided&nbsp;with&nbsp;accommodation&nbsp;close&nbsp;to&nbsp;their&nbsp;duty&nbsp;posts&nbsp;in&nbsp;due&nbsp;course.
  p.ft40(style='position:absolute;top:237px;left:126px;white-space:nowrap')
    b CONFIDENTIALITY
  p.ft44(style='position:absolute;top:277px;left:81px;white-space:nowrap')
    | In&nbsp;&nbsp;view&nbsp;&nbsp;of&nbsp;&nbsp;the&nbsp;&nbsp;con&nbsp;dential&nbsp;&nbsp;nature&nbsp;&nbsp;of&nbsp;&nbsp;the&nbsp;&nbsp;Company&apos;s&nbsp;&nbsp;objectives,&nbsp;&nbsp;you&nbsp;&nbsp;will&nbsp;&nbsp;be&nbsp;&nbsp;subject&nbsp;&nbsp;to&nbsp;&nbsp;the&nbsp;&nbsp;Internal&nbsp;
    br
    | Regulations&nbsp;&nbsp;of&nbsp;&nbsp;the&nbsp;&nbsp;Company,&nbsp;&nbsp;and&nbsp;&nbsp;you&nbsp;&nbsp;will&nbsp;&nbsp;be&nbsp;&nbsp;required&nbsp;&nbsp;to&nbsp;&nbsp;abide&nbsp;&nbsp;by&nbsp;&nbsp;the&nbsp;&nbsp;duties&nbsp;&nbsp;of&nbsp;&nbsp;con&nbsp;dentiality.&nbsp;&nbsp;Breach&nbsp;&nbsp;of&nbsp;
    br
    | these&nbsp;duties&nbsp;shall&nbsp;be&nbsp;subject&nbsp;to&nbsp;disciplinary&nbsp;actions&nbsp;such&nbsp;as&nbsp;dismissal.
  p.ft40(style='position:absolute;top:390px;left:126px;white-space:nowrap')
    b GENERAL&nbsp;CONDITIONS&nbsp;OF&nbsp;SERVICE
  p.ft44(style='position:absolute;top:430px;left:81px;white-space:nowrap')
    | You&nbsp;&nbsp;shall&nbsp;&nbsp;be&nbsp;&nbsp;subject&nbsp;&nbsp;to&nbsp;&nbsp;such&nbsp;&nbsp;general&nbsp;&nbsp;conditions&nbsp;&nbsp;of&nbsp;&nbsp;service&nbsp;&nbsp;and&nbsp;&nbsp;regulations&nbsp;&nbsp;as&nbsp;&nbsp;will&nbsp;&nbsp;be&nbsp;&nbsp;determined&nbsp;&nbsp;by&nbsp;&nbsp;the&nbsp;
    br
    | Management.&nbsp;You&nbsp;also&nbsp;agree&nbsp;by&nbsp;signing&nbsp;this&nbsp;employment&nbsp;contract&nbsp;that&nbsp;you&nbsp;will&nbsp;be&nbsp;bound&nbsp;by&nbsp;and&nbsp;adhere&nbsp;to&nbsp;
    br
    | the&nbsp;&nbsp;company&apos;s&nbsp;&nbsp;employee&nbsp;&nbsp;handbook&nbsp;&nbsp;and&nbsp;&nbsp;code&nbsp;&nbsp;of&nbsp;&nbsp;conduct&nbsp;&nbsp;(as&nbsp;&nbsp;the&nbsp;&nbsp;same&nbsp;&nbsp;may&nbsp;&nbsp;be&nbsp;&nbsp;reviewed&nbsp;&nbsp;by&nbsp;&nbsp;management&nbsp;
    br
    | from&nbsp;time&nbsp;to&nbsp;time).
  p.ft44(style='position:absolute;top:564px;left:81px;white-space:nowrap')
    | Please&nbsp;con&nbsp;rm&nbsp;your&nbsp;acceptance&nbsp;of&nbsp;this&nbsp;contract&nbsp;by&nbsp;signing&nbsp;in&nbsp;the&nbsp;space&nbsp;provided&nbsp;below&nbsp;and&nbsp;returning&nbsp;the&nbsp;
    br
    | duplicate&nbsp;copy&nbsp;to&nbsp;the&nbsp;undersigned&nbsp;within&nbsp;a&nbsp;week&nbsp;of&nbsp;receiving&nbsp;this&nbsp;contract.
  p.ft41(style='position:absolute;top:625px;left:81px;white-space:nowrap')
    | We&nbsp;wish&nbsp;you&nbsp;a&nbsp;ful&nbsp;lling&nbsp;career&nbsp;with&nbsp;
    b Ut&nbsp;tellus.&nbsp;Nulla&nbsp;ut&nbsp;erat&nbsp;id&nbsp;mauris&nbsp;vulputate&nbsp;elementum.
    | .
  p.ft41(style='position:absolute;top:665px;left:81px;white-space:nowrap') Yours&nbsp;sincerely,
  p.ft41(style='position:absolute;top:706px;left:81px;white-space:nowrap') &nbsp;
  p.ft40(style='position:absolute;top:746px;left:81px;white-space:nowrap')
    b __________________________
  p.ft40(style='position:absolute;top:787px;left:81px;white-space:nowrap')
    b Elizabeth&nbsp;McGuire
  p.ft41(style='position:absolute;top:827px;left:81px;white-space:nowrap') HR&nbsp;Director
  p.ft41(style='position:absolute;top:900px;left:81px;white-space:nowrap')
    | I&nbsp;hereby&nbsp;accept&nbsp;this&nbsp;offer&nbsp;of&nbsp;employment&nbsp;and&nbsp;I&nbsp;promise&nbsp;to&nbsp;abide&nbsp;by&nbsp;the&nbsp;above&nbsp;terms&nbsp;and&nbsp;conditions.
  p.ft41(style='position:absolute;top:941px;left:81px;white-space:nowrap')
    | Full&nbsp;Name&nbsp;and&nbsp;Signature:
    b &nbsp;_________________________________________
  div(style='position:relative;left: 15%;bottom: 15%;')
    a.button(href='#' role='button')
      span Termination
      .icon
        i.fa.fa-remove
        i.fa.fa-check
  p.ft43(style='position:absolute;top:7px;left:883px;white-space:nowrap') 3

mixin button
  .wrap
   form(action='/creatework' method='GET')
     button.buttn(type='submit') Create Contract  

-var i = 0                    
while i<warr.length 
   - var x = i++
   - var w= warr[x]
   - var releaseDate =w.releaseDate  ;
   - var  endDate=w.endDate  ;
   - var  companyname= w.companyname ;
   - var  companyaddress=w.companyaddress  ;
   - var employername = w.employername ;
   - var employeraddress = w.employeraddress ;
   - var  employerposition=w.employerposition  ;
   - var  employercountry=w.employercountry  ;
   - var workdays =w.workdays  ;
   - var monthsalary = w.monthsalary ;
   - var  pentalyclause= w.pentalyclause ;   
               
   +content(releaseDate,endDate,companyname,companyaddress,employername,employeraddress,employerposition,employercountry,workdays,monthsalary,pentalyclause)


-var length = warr.length
case length
    when 0
      +button
    

// Option 1: jQuery and Bootstrap Bundle (includes Popper)
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js' integrity='sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx' crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js' integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js' integrity='sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js' integrity='sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s' crossorigin='anonymous')
script(src='//cdnjs.cloudflare.com/ajax/libs/sass.js/0.6.3/sass.min.js')
script.
  // ---------Responsive-navbar-active-animation-----------
  function test() {
  var tabsNewAnim = $('#navbarSupportedContent');
  var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
  var activeItemNewAnim = tabsNewAnim.find('.active');
  var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
  var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
  var itemPosNewAnimTop = activeItemNewAnim.position();
  var itemPosNewAnimLeft = activeItemNewAnim.position();
  $(".hori-selector").css({
  "top": itemPosNewAnimTop.top + "px",
  "left": itemPosNewAnimLeft.left + "px",
  "height": activeWidthNewAnimHeight + "px",
  "width": activeWidthNewAnimWidth + "px"
  });
  $("#navbarSupportedContent").on("click", "li", function (e) {
  $('#navbarSupportedContent ul li').removeClass("active");
  $(this).addClass('active');
  var activeWidthNewAnimHeight = $(this).innerHeight();
  var activeWidthNewAnimWidth = $(this).innerWidth();
  var itemPosNewAnimTop = $(this).position();
  var itemPosNewAnimLeft = $(this).position();
  $(".hori-selector").css({
  "top": itemPosNewAnimTop.top + "px",
  "left": itemPosNewAnimLeft.left + "px",
  "height": activeWidthNewAnimHeight + "px",
  "width": activeWidthNewAnimWidth + "px"
  });
  });
  }
  $(document).ready(function () {
  setTimeout(function () { test(); });
  });
  $(window).on('resize', function () {
  setTimeout(function () { test(); }, 500);
  });
  $(".navbar-toggler").click(function () {
  setTimeout(function () { test(); });
  });
script(type='text/javascript' src='d4f8ca3e-269d-11eb-8b25-0cc47a792c0a_id_d4f8ca3e-269d-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js')
